 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
 }

 h1 {
   text-align: center;
   color: rgba(4, 113, 71, 0.92);
 }

 h2 {
   text-align: center;
 }

 a {
   color: #555;
   text-decoration: none;
 }